.content
    .band
        span.toggle
            .line
            .line
            .line
        span.name Simone Masiero
    .jobs
        h1 Applicable Experience
        .job
            include:markdown-it jobs/viewranger.md
        .job
            include:markdown-it jobs/kindred.md
        .job
            include:markdown-it jobs/bango.md
        .job
            include:markdown-it jobs/freelance.md
