.content
    .band
    .header Applicable Experience
    include:markdown-it jobs/freelance.md
    include:markdown-it jobs/viewranger.md
    include:markdown-it jobs/bango.md
    include:markdown-it jobs/mega.md
