.content
    .band
    .header Applicable Experience
    .job
        include:markdown-it jobs/freelance.md
    .job
        include:markdown-it jobs/viewranger.md
    .job
        include:markdown-it jobs/bango.md
    .job
        include:markdown-it jobs/mega.md
