nav
    a.git(href='https://github.com/duiker101/cv' target='_blank')
        img(src=require('./img/github.png'))
    a.pdf(href='http://cv.masiero.io/cv.pdf' target='_blank')
        img(src=require('./img/pdf.png'))
