.sidebar
    .band
        span.name Simone Masiero
        include nav.pug
    .skills
        section.details
            a(href='mailto:simone@masiero.io') simone@masiero.io
        include:markdown-it sidebar.md
