doctype html
html
    head
        title CV Simone Masiero
        link(rel='stylesheet' href=require('./style.scss'))
    body
        .wrapper
            .cv
                .sidebar
                .content
                    include:markdown-it jobs/job.md
